.footer {
    margin-top: 50px;
    padding: 2.5rem 0;
    background:#eaeaee;
  }
  
  .footer .nav .nav-item .nav-link {
    color: #8898aa !important;
  }
  
  .footer .nav .nav-item .nav-link:hover {
    color: #525f7f !important;
  }
  
  .footer .copyright {
    font-size: .875rem;
  }