<div class="main-content">
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
          <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/118226468_2757429614500125_1036670653374116666_o.jpg?_nc_cat=102&_nc_sid=09cbfe&_nc_ohc=XGulOBr1RQ0AX_vFOJo&_nc_ht=scontent-sin6-2.xx&oh=3df3436426edd6fbe0af53d83e8dad7e&oe=5F85E8D8" target="_blank"></a>
          <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0">
              <div class="input-group-alternative">
                <div>
                  <ul class="nav justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="/profile">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/blog">Blog</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
  
          <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
              <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/118226468_2757429614500125_1036670653374116666_o.jpg?_nc_cat=102&_nc_sid=09cbfe&_nc_ohc=XGulOBr1RQ0AX_vFOJo&_nc_ht=scontent-sin6-2.xx&oh=3df3436426edd6fbe0af53d83e8dad7e&oe=5F85E8D8">
                  </span>
                  <div class="media-body ml-2 d-none d-lg-block">
                    <span class="mb-0 text-sm  font-weight-bold">Tiên Nguyễn Thủy</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>
</div>
