<div class="main-content">
    <!-- Top navbar -->
    <app-header></app-header>
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/p960x960/105535349_2700556343520786_8760039580776821607_o.jpg?_nc_cat=104&_nc_sid=e3f864&_nc_ohc=7Pwvw103LVAAX97QeRT&_nc_ht=scontent-sin6-1.xx&tp=6&oh=bb9133501228a116e0abeec34cfaaa05&oe=5F868F7F); background-size: cover; background-position: center top;">

      <span class="mask bg-gradient-default opacity-8"></span>
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Tiên Nguyễn Thủy</h1>
            <p class="text-white mt-0 mb-5">This is my profile page. You can see the progress I've made with me work and manage my projects or assigned tasks</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/118226468_2757429614500125_1036670653374116666_o.jpg?_nc_cat=102&_nc_sid=09cbfe&_nc_ohc=XGulOBr1RQ0AX_vFOJo&_nc_ht=scontent-sin6-2.xx&oh=3df3436426edd6fbe0af53d83e8dad7e&oe=5F85E8D8" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="text-center">
                <h3>
                  Tiên Nguyễn Thủy
                </h3>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Fresher Frontend at Officience company
                </div>
                <div>
                  Information Technology at Huflit University
                </div>
                <div>
                    Live at Ho Chi Minh city
                </div>
                <div>
                   From Quang Tri Province
                </div>
                <hr class="my-4">
                <p>"Just know, when you truly want success, you'll never give up on it. No matter how bad the situation may get."</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My information</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">My information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Username</label>
                        <p class="info-detail">Nguyễn Thị Thủy Tiên</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <p class="info-detail"> thuytien.nguyenthi@officience.com</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">School</label>
                        <p class="info-detail">Huflit University</p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Job</label>
                        <p class="info-detail">Fresher Frontend</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Address</label>
                        <p class="info-detail">103 Khuon Viet, P. Phu Trung, Q. Tan Phu, TP. Ho Chi Minh</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between">
                          <a (click)="toSocialFacebook()" class="btn btn-sm btn-info mr-4">Facebook</a>
                          <a (click)="toSocialInstagram()" class="btn btn-sm btn-default float-right">Instagram</a>
                        </div>
                      </div>
                  </div>
                </div>
                <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>